<% provide(:title, 'All users') %>


<div class="row">


	<div class="span7">

		<h3>Find users</h3>	

		<div class="well">

			<%= form_tag '/find_users', method: :get do %>

				<%= label_tag :name, 'User name' %>
				<%= text_field_tag :name %>
				<br><br>
			
				<%= label_tag :activity_type_id, 'Favourite activity' %>
				<%= collection_select(:activity_type_id, nil , ActivityType.all, :id, :name, :prompt => false) %>
				<br><br>

				<%= label_tag :location_id, 'Location' %>
				<%= collection_select(:location_id, nil , Location.all, :id, :name, :prompt => false) %>
				<br><br>

				<div>
					<%= submit_tag '  Search  ', class: "btn btn-large btn-primary" %>
				</div>
			<% end %>
	
		</div>

	</div>

	<aside class="span4 offset1">

		<section>
			<h4>Follow this people:</h4>
		</section>

	</aside>


</div>

