<% provide(:title, 'All users') %>


<div class="row">


	<div class="span8">

		<h3>Find users</h3>	
		<hr>

		<div class="well">

			<%= form_tag '/find_users', method: :get do %>

				<%= label_tag :name, 'User name' %>
				<%= text_field_tag :name %>
				<br><br>


				<%= label_tag :location_id, 'Location' %>
				<%= collection_select(:location_id, nil , Location.order("name"), :id, :name, :prompt => false) %>
				<br><br>

				<div>
					<%= submit_tag 'Find users', class: "btn btn-large btn-primary" %>
				</div>
			<% end %>
	
		</div>

	</div>

	<aside class="span4">

		<div class="well">

			<h4>People close to you:</h4>

			<% @recommended.each do |i| %>
				<dd>
					<%= link_to i.name, i %>
				</dd>
			<% end %>
		</div>

	</aside>

</div>

