<% provide(:title, @user.name + "'s info") %>

<% if @user != current_user %>

	<ul class="nav nav-tabs">
		<li>
			<a href="../<%= @user.id %>">General</a>
		</li>

		<li class="active">
			<a href="../<%= @user.id %>/info">Profile Info</a>
		</li>

		<li>
			<a href="../<%= @user.id %>/activities">Created activities</a>
		</li>

		<li>
			<a href="../<%= @user.id %>/participations">Participations</a>
		</li>

		<li>
			<a href="../<%= @user.id %>/following">Following(<%= @user.getFollowedCount %>)</a>
		</li>

		<li>
			<a href="../<%= @user.id %>/followers">Followers(<%= @user.getFollowersCount %>)</a>
		</li>
	</ul>

	<div class="row">
			<aside class="span3">
				<section>
					<span>
						<font size="5"><%= link_to @user.name, @user %></font>
					</span>

					<a href="<%= user_path(@user) %>">
						<%= image_tag("/images/person.jpg") %>
					</a>
				</section>

				<section>
					<div class="well">
						Favourite activities:
		
						<% @user.myActivities.each do |i| %>
							<dd>
								<%= @user.getType(i.activity_type_id).name %>
							</dd>
						<% end %>
		 			 </div>
				</section>

			</aside>

			<div class="span9">

				<div class="well">
					<p><b>Name: </b><%= @user.name %></p>
					<p><b>Age: </b><%= @user.age %></p>
					<p><b>Contact: </b><%= @user.contact %></p>
					<p><b>Location: </b><%= @user.getLocation %></p>
				</div>

			</div>

	  	</div>

<% else %>

	<ul class="nav nav-tabs">
		<li>
			<a href="../<%= @user.id %>">General</a>
		</li>

		<li class="active">
			<a href="../<%= @user.id %>/info">Profile Info</a>
		</li>

		<li>
			<a href="../<%= @user.id %>/following">Following(<%= @user.getFollowedCount %>)</a>
		</li>

		<li>
			<a href="../<%= @user.id %>/followers">Followers(<%= @user.getFollowersCount %>)</a>
		</li>
	</ul>

	<div class="row">
			<aside class="span3">
				<section>
					<span>
						<font size="5"><%= link_to @user.name, @user %></font>
					</span>

					<a href="<%= user_path(@user) %>">
						<%= image_tag("/images/person.jpg") %>
					</a>
				</section>

				<section>
					<div class="well">
						Favourite activities:
		
						<% @user.myActivities.each do |i| %>
							<dd>
								<%= @user.getType(i.activity_type_id).name %><button class="close">&times;</button>
							</dd>
						<% end %>

						<br><%= link_to "Add favourite activity", info_user_path, :method => "get" %>
		 			 </div>
					<hr>
				</section>

			</aside>

			<div class="span9">

				<div style="float:right;">
					<%= link_to edit_user_path(current_user), :class => 'btn'  do %>
						<i class="icon-wrench icon-black"></i> Acount settings
					<% end %>
				</div>

				<br><br>
			
				<div class="well">
					<p><b>Name: </b><%= @user.name %></p>
					<p><b>Birth date: </b><%= @user.birth_date %></p>
					<p><b>Contact: </b><%= @user.contact %></p>
					<p><b>Location: </b><%= @user.getLocation %></p>
				</div>
				
			</div>

	  	</div>	
<% end %>
