<% provide(:title, 'Find facilities') %>

<div class="row">

	<div class="span12">

		<%= form_tag '/find_facilities', method: :get do %>

			<div class="well">

				<div style="width: 100%;">
						
					<div style="float: left; width: 43%">
						<%= label_tag :location_id, 'Location' %>
					</div>

					<div style="float: left; width: 43%">
						<%= label_tag :activity_type_id, 'Activity type' %>
					</div>

				</div>
				<div style="clear:both"></div>


				<div style="width: 100%;">
						
					<div style="float: left; width: 43%">
						<%= collection_select(:location_id, nil , Location.order('name'), :id, :name, {:selected => @location}) %>
					</div>

					<div style="float: left; width: 43%">
						<%= collection_select(:activity_type_id, nil , ActivityType.all, :id, :name, {:selected => @type}) %>
					</div>
					
					<div style="float: right;">
						<%= submit_tag 'Find facility', class: "btn btn-large btn-primary" %>
					</div>

				</div>
				<div style="clear:both"></div>

			</div>

		<% end %>

	</div>

	<% if signed_in? %>

		<div class="span12">

			<hr>
			<h3>Found facilities</h3>
			<hr>

			<%= will_paginate(@facility) %>
				<%= render @facility %>
			<%= will_paginate(@facility) %>

		</div>

	<% else %>

		<div class="span12">

			<hr>
			<h3>Found facilities</h3>
			<hr>

			<%= will_paginate(@facility) %>
				<%= render @facility %>
			<%= will_paginate(@facility) %>

		</div>
	
	<% end %>

</div>
