<% provide(:title, "Find Activity") %>

<div class="row">
	<div class="span8">

		<h3>Find sport activities</h3>

		<hr>

		<div class="well">

			<%= form_tag '/find_activities', method: :get do %>

				<%= label_tag :location_id, 'Location' %>
				<%= collection_select(:location_id, nil , Location.order("name"), :id, :name, :prompt => false) %>
				<br><br>

				<%= label_tag :activity_type_id, 'Activity type' %>
				<%= collection_select(:activity_type_id, nil , ActivityType.all, :id, :name, :prompt => false) %>
				<br><br>			

				<div>
					<%= submit_tag 'Find activity', class: "btn btn-large btn-primary" %>
				</div>

			<% end %>

		</div>

	</div>

	<aside class="span4">

		<section>

			<h4>Try also this activities:</h4>

			<% @recommended.each do |i| %>

					<a href="<%= activity_path(i) %>">

						<font color="black">
							<div class="well" style="width:80%;background:#00FFFF" onmouseover="this.style.background='#87CEFA';" onmouseout="this.style.background='#00FFFF';">
									
								<%= i.getType %>, <%= i.getLocation %><br>
								<%= i.beg_date %> (<%= time_ago_in_words(i.beg_date) %>)<br>
								<%= i.getParticipantCount %> joined people<br>	

							</div>
						</font>
					</a>

				<% end %>	

		</section>
	</aside>

</div>
