<% provide(:title, 'My activities') %>

<div class="row">

	<aside class="span4">
		<section>

				<h4>Followers' activities:</h4>

				<% @foll_act.each do |i| %>

					<a href="<%= activity_path(i) %>">

						<font color="black">
							<div class="well" style="width:80%;background:#00FFFF" onmouseover="this.style.background='#87CEFA';" onmouseout="this.style.background='#00FFFF';">

								<%= time_ago_in_words(i.beg_date) %><br>
								<%= i.getParticipantCount %> joined people<br>
								<%= i.getType %><br>
								<%= i.getLocation %>

							</div>
						</font>

					</a>

				<% end %>			

		</section>
	</aside>


	<div class="span8">
		<h3>My activities (<%= current_user.getActivityCount %>)</h3>
		  
		<hr>

		<ol class="activities">
			<%= render @activities %>
		</ol>

		<%= will_paginate @activities %>

	</div>
</div>
